.Ufom{
    background-color: #131E2F;
    width: 40vw;
    border-radius: 10px;
    padding: 25px;
}

.input {
    
    width: 400px;
    height: 35px;
    padding: 12px;
    border-radius: 2px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 8s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid grey;
  }

.ipt{
  padding: 10px;
}
.Uh2{
    color: #131E2F;
    font-size: 50px;
    text-align: center;
}

button {
    color: #090909;
    padding: 0.5em 1.5em;
    font-size: 18px;
    border-radius: 4px;
    background: #ffffff;
    border: 1px solid #ffffff;
    transition: all .3s;
    box-shadow: 1px 1px 2px #ffffff,
    -1px -1px 2px #ffffff;
    cursor: pointer;
  }
  
  button:hover {
    border: 1px solid white;
  }
  
  button:active {
    box-shadow: 4px 4px 12px #c5c5c5,
               -4px -4px 12px #ffffff;
  }

  .btnn{
    padding-left: 230px;
  }